<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/wether.png">

</head>

<body>
    
    <div class="main-page">
        {{>header}}
        <h1>From about dynamic File</h1>
       
    </div>
     {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>